<main class="bd-masthead">
  <div class="container">
    <img class="bd-booticon" src="img/logo.svg" alt="ng2v-components logo"/>
    <p class="lead hidden-md-down">
      ng2v-components, powered by ng2v team
    </p>
    <p>Currently at v{{version}}</p>
    <p class="lead">
      <a
        class="btn btn-outline-primary"
        [routerLink]="['/components']">Demo</a>
      <a
        class="btn btn-outline-primary"
        [routerLink]="['/getting-started']">Installation</a>
    </p>
  </div>
</main>