<div class="ng2v-multiselect dropdown">
    <button type="button" class="dropdown-toggle" [ngClass]="settings.buttonClasses"
            (click)="toggleDropdown()" [disabled]="disabled">
        <div class="chips">
            <span class="first-chip" [class.on]="numSelected>0">{{title}}</span>
            <span *ngIf="numSelected>1" class="c-plus">+</span>
            <i *ngIf="numSelected>1" class="chip-count">{{numSelected-1}}</i>
        </div>
        <div *ngIf="loading" class="progress">
            <div class="indeterminate"></div>
        </div>
    </button> 
    <ul [class.hidden]="!isVisible" class="dropdown-menu" 
        [class.pull-right]="settings.pullRight" 
        [class.dropdown-menu-right]="settings.pullRight"
        [style.max-height]="settings.maxHeight"
        [style.z-index]="maxZIndex"
        style="display: block; height: auto; overflow-y: auto;">
    <li class="dropdown-item search" *ngIf="settings.enableSearch">
        <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control search-bar" placeholder="{{ texts.searchPlaceholder }}"
                aria-describedby="sizing-addon3" 
                [(ngModel)]="searchFilterText" 
                (ngModelChange)="searchChange($event)"
                [ngModelOptions]="{standalone: true}">
        <span class="input-group-btn" *ngIf="searchFilterText.length > 0">
            <button class="btn btn-default" type="button" (click)="clearSearch($event)">
                <i class="fa fa-times"></i></button>
            </span>
        </div>
    </li>
    <li class="dropdown-divider divider" *ngIf="settings.enableSearch"></li>
    <li class="dropdown-item" *ngIf="options.length>0">
        <a role="menuitem" tabindex="-1" (click)="toggleCheckAll()">
            <input type="checkbox" [class.circle]="fewChecked" [checked]="isCheckedAll"/>
            <span [ngClass]="settings.itemClasses">{{isCheckedAll ? texts.uncheckAll : texts.checkAll}}</span>
        </a>
    </li>
    <li *ngIf="options.length>0 && (settings.showCheckAll || settings.showUncheckAll)" class="dropdown-divider divider"></li>
    <li class="dropdown-item" *ngIf="options.length===0">
        <a role="menuitem" tabindex="-1">
            <span class="no-records">No records found</span>
        </a>
    </li>
    <li class="dropdown-item" [ngStyle]="getItemStyle(option)" *ngFor="let option of options | searchFilter:searchFilterText"
        (click)="!option.isLabel && setSelected(option)" [class.dropdown-header]="option.isLabel">
        <ng-template [ngIf]="option.isLabel">
            {{ option.value }}
        </ng-template>
        <a *ngIf="!option.isLabel" role="menuitem" tabindex="-1">
            <input type="checkbox" [checked]="isSelected(option)"/>
            <span [ngClass]="settings.itemClasses">
                {{ option.value }}
            </span>
        </a>
    </li>
    </ul>
</div>