<ng2vd-content-wrapper component="Rating">
  
  <ng2vd-example-box demoTitle="Basic demo" [snippets]="snippets" component="rating" demo="basic">
    <ng2vd-rating-basic></ng2vd-rating-basic>
  </ng2vd-example-box>
  <ng2vd-example-box demoTitle="Events and readonly ratings" [snippets]="snippets" component="rating" demo="events">
    <ng2vd-rating-events></ng2vd-rating-events>
  </ng2vd-example-box>
  <ng2vd-example-box demoTitle="Custom star template" [snippets]="snippets" component="rating" demo="template">
    <ng2vd-rating-template></ng2vd-rating-template>
  </ng2vd-example-box>
  <ng2vd-example-box demoTitle="Custom decimal rating" [snippets]="snippets" component="rating" demo="decimal">
    <ng2vd-rating-decimal></ng2vd-rating-decimal>
  </ng2vd-example-box>
  <ng2vd-example-box demoTitle="Form integration" [snippets]="snippets" component="rating" demo="form">
    <ng2vd-rating-form></ng2vd-rating-form>
  </ng2vd-example-box>
  <ng2vd-example-box demoTitle="Global configuration of ratings" [snippets]="snippets" component="rating" demo="config">
    <ng2vd-rating-config></ng2vd-rating-config>
  </ng2vd-example-box>

  <ng2vd-api-docs directive="Ng2vRating"></ng2vd-api-docs>
  <ng2vd-api-docs-class type="StarTemplateContext"></ng2vd-api-docs-class>
  <ng2vd-api-docs-config type="Ng2vRatingConfig"></ng2vd-api-docs-config>

</ng2vd-content-wrapper>
